<div class="tab-menu clearfix">
  <ul class="tabMenu">
    <li>
      <a class="menu-item" routerLink="order/added" routerLinkActive="linkActive">
        <i class="ion-bag"></i>
        <span class="linkText">Added</span>
      </a>
    </li>
    <li>
      <a class="menu-item" routerLink="order/pending" routerLinkActive="linkActive">
        <i class="ion-ios-compose"></i>
        <span class="linkText">Pending</span>
      </a>
    </li>
    <li>
      <a class="menu-item" routerLink="order/processing" routerLinkActive="linkActive">
        <i class="ion-paper-airplane"></i>
        <span class="linkText">Processing</span>
      </a>
    </li>
    <li>
      <a class="menu-item" routerLink="order/dispatch" routerLinkActive="linkActive">
        <i class="ion-model-s"></i>
        <span class="linkText">Dispatched</span>
      </a>
    </li>
    <li>
      <a class="menu-item" routerLink="order/deliverd" routerLinkActive="linkActive">
        <i class="ion-ios-home"></i>
        <span class="linkText">Deliverd</span>
      </a>
    </li>
  </ul>
</div>

<div style="padding :20px; text-align: center">
  <router-outlet></router-outlet>
</div>